<div *ngIf="storage">

  <div *ngIf="!storage.finishedLoading()" class="loading">
    <h2>Loading... <img src="assets/loading.svg" height="28px" width="28px"></h2>
  </div>

  <app-filter-display [filters]="filters"></app-filter-display>
  <app-sort-display [comparator]="comparator"></app-sort-display>

  <div *ngIf="cards.length === 0" class="panel panel-danger">
    <div class="panel-heading">No card found</div>
    <div class="panel-body">
      <p>There is no card in your collection matching these filters</p>
    </div>
  </div>
  <div *ngIf="cards.length !== 0">
    <p><i>{{matching}} cards found matching these filters</i></p>
    <app-info-list-display *ngIf="display === 'list'" [cards]="cards" [storage]="storage"></app-info-list-display>
    <app-gallery-display *ngIf="display === 'gallery'" [cards]="cards" [storage]="storage"></app-gallery-display>
    <app-standard-display *ngIf="display !== 'gallery' && display !== 'list'" [cards]="cards" [storage]="storage"></app-standard-display>
  </div>
</div>



