<div class="panel panel-default">
  <div class="panel-heading">
    <button *ngIf="display" (click)="display = false" class="btn btn-link btn-xs"><b class="glyphicon glyphicon-chevron-down"></b></button>
    <button *ngIf="!display" (click)="display = true" class="btn btn-link btn-xs"><b class="glyphicon glyphicon-chevron-right"></b></button>
    Filter</div>
  <div class="panel-body" *ngIf="display">
    <div class="form-horizontal">
      <div class="form-group" *ngFor="let filter of filters">
        <app-filter-display [filter]="filter"></app-filter-display>
      </div>
    </div>
  </div>
</div>
