<div *ngFor="let card of cards"  style="display: inline-block; margin: 1.5px" (click)="detailedCard = card">
  <img src="{{card.card.imageUrl}}" *ngIf="detailedCard != card" style="display: inline-block">
  <span *ngIf="detailedCard == card" style="width: 223px; height: 310.99px; border-radius: 10px; border: 2px solid; padding-left: 3px; vertical-align: middle; display: inline-block;">
    <app-card-summary [card]="detailedCard.card" [reducedInfo]="true"></app-card-summary>
    <p>
      In stock :
      <br/>
      <b>Normal :</b> <app-card-qty-display [card]="card" [foil]="false" [storage]="storage"></app-card-qty-display>
      <br/>
      <b>Foil :</b> <app-card-qty-display [card]="card" [foil]="true" [storage]="storage"></app-card-qty-display>
    </p>
  </span>
</div>

