<table class="table table-bordered">
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th class="col-lg-2">Stock</th>
  </tr>

  <tr *ngFor="let card of cards">
    <td>
      <img src="{{card.card.imageUrl | proxy}}">
    </td>

    <td>
      <app-card-summary [card]="card.card"></app-card-summary>
    </td>

    <td>In stock :
      <br/>
      <b>Normal :</b> <app-card-qty-display [card]="card" [foil]="false" [storage]="storage"></app-card-qty-display>
      <br/>
      <b>Foil :</b> <app-card-qty-display [card]="card" [foil]="true" [storage]="storage"></app-card-qty-display>
    </td>
  </tr>
</table>
