<div class="row">
  <h1 class="col-sm-9" style="display: inline-block;">Card List <small>(tracking <b>{{total}}</b> cards)</small></h1>
  <div class="col-sm-3"><select class="form-control" style="display: inline-block;" [(ngModel)]="display">
    <option *ngFor="let disp of displays" value="{{disp.key}}">{{disp.name}}</option>
  </select></div>
</div>

<app-card-searcher></app-card-searcher>

<app-filter-display [filters]="filters"></app-filter-display>
<app-sort-display [comparator]="comparator"></app-sort-display>
<app-cards-display [cards]="cards" [storage]="storage" [display]="display"></app-cards-display>
