<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Type</th>
    <th>P</th>
    <th>T</th>
    <th>Amt</th>
    <td>Foil</td>
  </tr>

  <tr *ngFor="let card of cards">
    <td>{{card.card.name}} <small *ngIf="card.card.otherSide">({{card.card.otherSide.name}})</small> <span style="float: right;" class="label {{card.card.rarity | rarityLabel}}">{{card.card.rarity}}</span></td>
    <td><span [innerHtml]="card.card.manaCost | replacemana:'small'"></span> <small *ngIf="card.card.otherSide">(<span [innerHtml]="card.card.otherSide.manaCost | replacemana:'small'"></span>)</small></td>
    <td>{{card.card.type}} <small *ngIf="card.card.otherSide">({{card.card.otherSide.type}})</small></td>
    <td>{{card.card.power}}</td>
    <td>{{card.card.toughness}}</td>
    <td>
      <app-card-qty-display [card]="card" [foil]="false" [storage]="storage"></app-card-qty-display>
    </td>
    <td>
      <app-card-qty-display [card]="card" [foil]="true" [storage]="storage"></app-card-qty-display>
    </td>
  </tr>
</table>
