<div *ngIf="message" class="alert alert-success" [innerHtml]="message"></div>
<div class="panel panel-default" *ngIf="library.allowUpdate()">
  <div class="panel-heading">Add a card</div>
  <div class="panel-body">
      <p><b>Please note:</b> to add a multiside card or a split card, type the number + the letter a (example : 150 becomes 150a)</p>

      <div class="form-inline">
        <select class="form-control" (change)="reset()" [(ngModel)]="set" id="set-selector">
          <option *ngFor="let s of sets" value="{{s.code}}">{{s.name}} ({{s.code}})</option>
        </select>

        <input class="form-control" (keypress)="reset()" #cardNumber [(ngModel)]="number" (keydown.enter)="onSearch()" placeholder="Card N° + enter">

        <input class="form-control" #cardAmount *ngIf="currentCard" type="number" (keydown.enter)="onValidate()"
               [(ngModel)]="amount" placeholder="Amount">
        <input class="form-control" *ngIf="currentCard" type="number" (keydown.enter)="onValidate()" [(ngModel)]="amountFoil"
               placeholder="Amount (Foil)">

        <label *ngIf="searching"><img src="assets/loading.svg" height="14px" width="14px" /></label>
        <label *ngIf="error" class="text-danger">{{error}}</label>
      </div>

    <br />


    <div *ngIf="currentCard" class="row">
      <div class="col-md-3">
        <img src="{{currentCard.imageUrl | proxy}}">
      </div>

      <div class="col-md-9">
        <app-card-summary [card]="currentCard" [ownedCardData]="ownedCard"></app-card-summary>
      </div>
    </div>
  </div>
</div>



