<div class="modal fade" tabindex="-1" role="dialog" id="loadModal" xmlns="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning: Load from cloud</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to load your collection from the cloud? Your local collection will be <b>completely
        overwritten</b> and replaced by the downloaded collection.</p>
        <p *ngIf="backendLastUpdate">The current saved collection was saved at: <em>{{backendLastUpdate}}</em></p>
        <p *ngIf="lastLoad">The local collection was last synced at: <em>{{lastLoad}}</em></p>
        <p *ngIf="myStorage.lastChange()">The local collection was last modified at: <em>{{myStorage.lastChange()}}</em></p>
        <p><b>This operation cannot be undone</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="loadCollection()">I understand, load</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="auth.isAuthenticated() && collection && outdated" class="alert alert-warning" role="alert"><b>Local copy might be outdated! </b>There is a saved version
of this collection in the cloud that appears to be more recent than the one you are currently working on.<br/><br/>
<b>What can I do?</b>
  <ul>
    <li *ngIf="lastLoad === null">If you think your collection is up to date, then <b>Save it</b> and <b>AFTER</b> that, load it. Be sure that you save it first, as if you don't you might loose some changes.</li>
    <li>Try to load the collection from the cloud using the <b>Load Collection</b> button in the <b>Cloud Saving</b> panel.</li>
  </ul>

</div>

<div *ngIf="auth.isAuthenticated() && collection && !outdated && notSaved" class="alert alert-warning" role="alert"><b>Local copy is not saved! </b>You have made changes on your collection that are not saved in the cloud. Click on the <b>Save Collection</b> in the <b>Cloud Saving</b> panel to save it.</div>

<div class="panel panel-default" *ngIf="auth.isAuthenticated()">
  <div class="panel-heading">
    <button *ngIf="display" (click)="display = false" class="btn btn-link btn-xs"><b class="glyphicon glyphicon-chevron-down"></b></button>
    <button *ngIf="!display" (click)="display = true" class="btn btn-link btn-xs"><b class="glyphicon glyphicon-chevron-right"></b></button>
    Cloud Saving

    <div style="display: inline-block; float: right; margin-right: 10px;" *ngIf="autosave && !outdated">
      <span *ngIf="sending" class="help-block"><img src="assets/loading.svg" height="12px" width="12px" /></span>
      <b *ngIf="sent" class="glyphicon glyphicon-saved" title="All changes saved"></b>
      <b *ngIf="!sent && !sending" class="glyphicon glyphicon-flash" title="Autosave enabled"></b>
    </div>

    <div style="display: inline-block; float: right; margin-right: 10px;">
      <b *ngIf="collection && outdated" class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" data-placement="top" title="Your local collection might be outdated"> </b>
      <b *ngIf="auth.isAuthenticated() && collection && !outdated && notSaved" class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" data-placement="top" title="Local collection not saved"> </b>
    </div>
  </div>
  <div class="panel-body" *ngIf="display && hasName">


    <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-lg-3">Save your collection in the cloud: </label>
          <div class="col-lg-3">
            <button (click)="updateCollection()" class="btn btn-success col-lg-12">Save Collection</button>
          </div>
          <span *ngIf="sending" class="help-block">Saving... <img src="assets/loading.svg" height="12px" width="12px" /> </span>
          <span *ngIf="sent" class="help-block">Saved! <b class="glyphicon glyphicon-ok"></b></span>
        </div>

        <div class="form-group" *ngIf="collection">
          <label class="control-label col-lg-3">Set privacy status: </label>
          <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="collection.public" (change)="updatePrivacy()" id="set-selector">
              <option [ngValue]="true">Public</option>
              <option [ngValue]="false">Private</option>
            </select>
          </div>
          <span *ngIf="sendingPrivacy" class="help-block">Updating... <img src="assets/loading.svg" height="12px" width="12px" /> </span>
          <span *ngIf="!sendingPrivacy && collection.public" class="help-block">Your collection can be seen here: <b>https://magic.zyuiop.net/collection/{{name}}</b></span>
          <span *ngIf="!sendingPrivacy && !collection.public" class="help-block">Your collection is not public.</span>
        </div>

        <div class="form-group" *ngIf="collection">
          <label class="control-label col-lg-3">Load your collection from the cloud: </label>
          <div class="col-lg-3">
            <button data-toggle="modal" data-target="#loadModal" class="btn btn-danger col-lg-12">Load Collection</button>
          </div>
        </div>

      <div class="form-group" *ngIf="collection">
          <label class="control-label col-lg-3">Enable autosave <span class="label label-warning">beta</span>: </label>
          <div class="col-lg-3">
            <button *ngIf="!outdated && autosave" (click)="toggleAutosave()" class="btn btn-danger col-lg-12">Disable Autosave</button>
            <button *ngIf="!outdated && !autosave" (click)="toggleAutosave()" class="btn btn-success col-lg-12">Enable Autosave</button>
            <button *ngIf="outdated" class="btn btn-default col-lg-12" disabled="disabled">(Outdated Data)</button>
          </div>
          <span *ngIf="!outdated" class="help-block">When autosave is enabled, your collection is saved at every change</span>
          <span *ngIf="outdated" class="help-block">Autosave is disabled because your collection is outdated</span>
      </div>
      </div>
  </div>

  <div class="panel-body" *ngIf="display && !hasName">
    <h2>The cloud service is not available</h2>
    <p>To enable the cloud service, you must complete your registration by <a routerLink="pickUsername">picking a username</a>.</p>
  </div>
</div>

