<div *ngIf="storage">
  <div class="row">
    <h1 class="col-sm-9" style="display: inline-block;">Card List <small>(tracking <b>{{total}}</b> cards)</small></h1>
    <div class="col-sm-3"><app-display-selector #disp></app-display-selector></div>
  </div>

  <app-cloud-status *ngIf="storage.allowUpdate()" [(myStorage)]="storage"></app-cloud-status>
  <app-card-searcher *ngIf="storage.allowUpdate()" [library]="storage"></app-card-searcher>

  <app-cards-display [storage]="storage" [display]="disp.display"></app-cards-display>
</div>
<app-collection-loading *ngIf="!storage" [error]="error"></app-collection-loading>
