<div class="panel panel-default" *ngIf="auth.isAuthenticated() && collection">
  <div class="panel-heading">
    <button *ngIf="display" (click)="display = false" class="btn btn-link"><b class="glyphicon glyphicon-chevron-down"></b></button>
    <button *ngIf="!display" (click)="display = true" class="btn btn-link"><b class="glyphicon glyphicon-chevron-right"></b></button>
    Cloud Saving</div>
  <div class="panel-body" *ngIf="display">
    <div class="row">

      <div class="col-lg-6">
        <p>This form allows you to save your collection online. Setting an URL is purely optional. If you
        set an URL and choose "public", your collection will be readable by everyone on the internet.</p>
        <p *ngIf="collection.publicUrl">The URL is : <em>https://magic.zyuiop.net/collection/{{collection.publicUrl}}</em>
        </p>
        <div class="form-inline">
          <div class="form-group">
            <label for="public-url">Public URL : </label> <!-- todo : validate input -->
            <input id="public-url" class="form-control" *ngIf="collection" [(ngModel)]="collection.publicUrl" placeholder="Public url">
          </div>
          <select class="form-control" [(ngModel)]="collection.public" id="set-selector">
            <option value="true">Public</option>
            <option value="false">Private</option>
          </select>

          <button (click)="updateCollection()" class="btn btn-success">Save Collection</button>
        </div>
      </div>

      <div class="col-lg-1"></div>
      <div class="col-lg-5" style="text-align: right;" *ngIf="collection.userCollection">
        <p>This button allows you to load your previously saved collection.</p>
        <p><b>Warning:</b> the downloaded collection will <b>REPLACE</b> your currently loaded collection and overwrite it.</p>
      <button (click)="loadCollection()" class="btn btn-danger">Load Collection</button>
      </div>
    </div>
  </div>
</div>

