<div *ngIf="deck && allowed">
  <div class="row">
    <h1>Editing: {{deck.info.name}} <small>
      <span [class.label-success]="deck.info.public" [class.label-danger]="!deck.info.public" class="label">{{deck.info.public ? "Public" : "Private"}}</span>
    </small></h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Pick cards</h2>
      <app-cards-picker [storage]="storage" [targetStorage]="deck.cards"></app-cards-picker>
    </div>
    <div class="col-md-4">
      <h2>Deck settings</h2>
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="deckName">Name of the deck</label>
          <input #deckName (keydown.enter)="rename(deckName.value)" [value]="deck.info.name" type="text" class="form-control" id="deckName" placeholder="Deck name">
        </div>
        <button (click)="rename(deckName.value)" class="btn btn-success">Rename</button>
      </div>
      <div class="form-inline">
        <select #privacy class="form-control" [value]="deck.info.public" (change)="updatePrivacy(privacy.value)" id="set-selector">
          <option value="true">Public</option>
          <option value="false">Private</option>
        </select>
      </div>
      <hr/>
      <h2>Current deck state <small>({{deckCount}} cards)</small></h2>
      <app-quick-recap-display [cards]="deck.cards.getCards()" [cardStorage]="storage" [deckStorage]="deck.cards"></app-quick-recap-display>
      <button *ngIf="deck.cards.getCards().length === 0 && deck.cards.finishedLoading()" class="btn btn-danger" (click)="delete()">Delete deck</button>
      <hr/>
      <h2>Snapshots</h2>

      <table>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Action</th>
        </tr>
        <tr>
          <td colspan="2">
            <label class="sr-only" for="snapName">Name of the deck</label>
            <input #snapName (keydown.enter)="makeSnapshot(snapName.value); snapName.value = ''" class="form-control input-sm" id="snapName" placeholder="Snapshot name">
          </td>
          <td><button (click)="makeSnapshot(snapName.value); snapName.value = ''" class="btn btn-success btn-sm">New snapshot</button></td>
        </tr>
        <tr *ngFor="let snapshot of snapshots">
          <td>{{snapshot.name}}</td>
          <td>{{getSnapDate(snapshot)}}</td>
          <td><button class="btn btn-sm btn-danger" (click)="loadSnapshot(snapshot)">Restore</button></td>
        </tr>
      </table>
      <hr/>
    </div>
  </div>

</div>

<app-collection-loading *ngIf="!deck || !allowed" [error]="!allowed ? 'you need to login to access this page' : error"></app-collection-loading>
