<table>
  <tr>
    <th>No</th>
    <th>Card Name</th>
    <th>Mana Cost</th>
    <th *ngIf="(deckStorage && deckStorage.allowUpdate())"></th>
  </tr>

  <ng-template ngFor let-entry [ngForOf]="sorted">
    <tr>
      <td [attr.colspan]="(deckStorage && deckStorage.allowUpdate()) ? 4 : 3"><h5><b>{{entry.title}}</b></h5></td>
    </tr>

    <ng-template ngFor let-card [ngForOf]="entry.cards">
      <tr (click)="expandedCard = (expandedCard === card) ? null : card">
        <td>{{card.amount + card.amountFoil}}</td>
        <td>{{card.card.name}} <small *ngIf="card.card.otherSide">({{card.card.otherSide.name}})</small></td>
        <td><span [innerHtml]="card.card.manaCost | replacemana:'small'"></span></td>
        <td *ngIf="deckStorage && deckStorage.allowUpdate()">
          <a *ngIf="card.amount > 0" (click)="removeOne(card, false)">[-1]</a>
          <a *ngIf="card.amountFoil > 0" (click)="removeOne(card, true)">[-1foil]</a>
        </td>
      </tr>
      <tr *ngIf="expandedCard === card" (click)="expandedCard = null">
        <td colspan="4">
          <img src="{{card.card.imageUrl | proxy}}">
        </td>
      </tr>
    </ng-template>


  </ng-template>
</table>
